@mixin phone {
  @media (min-width: 300px) and (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 750px) and (max-width: 900px) {
    @content;
  }
}

.order__container {
  font-family: 'Open sans';
  .green {
    color: #5ef36d;
    font-weight: bold;
  }
  .red {
    color: #ee0901;
    font-weight: bold;
  }

  .order__container__congrats {
    text-align: center;
    p {
      margin-top: -1em;
      font-weight: 600;
    }
    h2 {
      color: #5ef36d;
    }
  }
  .order__container__list {
    .order__container__list__item {
      margin: 1em auto;
      background-color: rgba(229, 228, 226, 0.5);
      width: 80vw;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      @include phone {
        width: 90vw;
      }
      .order__container__list__item__details {
        display: flex;
        justify-content: flex-start;
        width: 20em;
        padding: 0 2em;
        img {
          height: 5em;
          padding: 1em;
        }
        p {
          font-size: 1em;
          font-weight: 600;
        }

        @include phone {
          width: 70%;
          padding: 0;
          img {
            height: 3em;
            padding: 1em;
          }

          p {
            font-size: 0.8em;
          }
        }
      }

      .order__container__list__item__qty {
        display: flex;
        justify-content: space-between;
        width: 10em;
        padding: 0 5em;
        align-items: center;
        p {
          font-size: 1.2em;
          font-weight: 600;
        }

        @include phone {
          width: 30%;
          padding: 0;
          justify-content: center;

          p {
            font-size: 1em;
            margin: 0 0.5em;
          }
        }
      }
    }
  }

  .order__container__price {
    margin: 2em auto;
    background-color: rgba(229, 228, 226, 0.5);
    width: 80vw;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @include phone {
      display: block;
      width: 90vw;
    }
    .order__container__price--shipping {
      width: 65%;
      padding: 1em 2em;

      @include phone {
        width: 90%;
        padding: 1em;
      }

      p {
        margin: 0.5em 0;
        font-size: 0.9em;
      }
    }
    .order__container__price--pay {
      width: 35%;
      padding: 2em;
      @include phone {
        width: 90%;
        padding: 0 0.5em 1em;
      }

      p,
      strong {
        margin: 0.5em 5em;
        width: 100%;
        display: block;

        @include phone {
          margin: 0.5em;
          text-align: center;
        }
      }
    }
  }
  .order__container__CTA {
    button {
      display: block;
      cursor: pointer;
      border: none;
      height: 2em;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      width: fit-content;
      min-width: 10em;
      margin: 1em auto;
      background-color: #5ef36d;
      font-size: 1.2em;
      padding: 0 0.5em;
    }
  }
}
